@import "../valo/valo.scss";

.custom {
  @include valo;

 .v-table-row-highlight-red {
    background: rgba(255,0,0,0.2);
}

.v-table-row-highlight-green {
    background: rgba(0,255,0,0.2);
}

.v-table-row-highlight-yellow {
    background: rgba(255,255,0,0.2);
}
}

